.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.nav__logo{
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.nav__search{
  display: flex;
  /* align-items: center; */
  width: 40%;
  /* border: 1px solid lightgrey; */
}

.nav__icon{
  margin-right: 5px;
}

.nav__icons{
  display: flex;
}

.nav__searchButton{
  width: 50px !important;
  background-color: whitesmoke;
  border-left: 1px solid lightgrey;
  color: grey;
}

.navBar:hover{
  background-color: lightgray;
  cursor: pointer;
}

.navBar:hover > nav__icon{
  color: red
}

navBar:hover > navBar__ti